/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Arvo&display=swap');

h1.title {
  font-family: "Arvo";
  font-size: 30px;
}
th, tr, td {
  background-color: #D8DED2;
  color: #0D0D0D;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.photo-grid img {
    width: 500%;
    height: auto;
}
