/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Arvo&display=swap');

h1.title {
  font-family: "Arvo";
  font-size: 30px;
}
th, tr, td {
  background-color: #D8DED2;
  color: #0D0D0D;
}